# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other
build/
.vscode/
sdl2-demo/

# Android demo
android/bin/*
android/jni/SDL*
android/libs/*
android/obj/*
android/gen/*

# Ignore android demo
android-sdl2-demo/bin/*
android-sdl2-demo/jni/SDL*
android-sdl2-demo/libs/*
android-sdl2-demo/obj/*
android-sdl2-demo/gen/*